////
// Components: Contribution
////

// Contribution Var
$contribution-border: 1px solid $background-accent;

// Contribution
.contribution {
    border-bottom: $contribution-border;
    border-right: $contribution-border;

    &__label {
        display: block;
        padding: 10px;
    }

    &:first-child {
        border-top-right-radius: 5px;
        border-top: $contribution-border;
    }

    &:last-child {
        border-bottom-right-radius: 5px;
    }
} // .contribution
