////
// Components: Navigation
////

// Nav
.nav {
    display: none;
    height: 0;
    overflow: hidden;
    text-align: center;

    @media #{$tablet-up} {
        display: block;
        height: auto;
        text-align: right;
    }

    &__link {
        border-color: $background-accent !important;
        border-bottom: 1px solid;
        color: $text-secondary;
        display: block;
        font-weight: 600;
        padding: 10px 0;

        @media #{$tablet-up} {
            border: 0;
            display: inline-block;
            margin-right: 16px; // TODO: Double check this
            padding: 0;
        }

        &:hover {
            color: darken($text-secondary, 10%);
        }

        &:first-child {
            border-top: 1px solid;

            @media #{$tablet-up} {
                border: 0;
            }
        } // .nav__link:first-child

        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;

            @media #{$tablet-up} {
                margin-right: 0;
            }
        } // .nav__link:last-child
    } // .nav__link

    .is-active & {
        display: block;
        height: auto;
        margin-top: 16px;

        @media #{$tablet-up} {
            margin-top: 0;
        }
    } // .nav.nav-is-active
} // .nav
