////
// Components: Patterns
////

// Pattern
.pattern-bg {
    background-image: url('pattern.svg');
    background-repeat: repeat;
    position: relative;

    &:before {
        @include size(100%);
        content: '';
        position: absolute;
        top: 0;
        z-index: 1;
    }
} // .pattern-bg

.pattern-bg--header:before {
    background-image: linear-gradient(
        to top,
        RGB($background-rgb) 20%,
        rgba($background-rgb, .5) 70%,
        rgba($background-rgb, .0) 100%
    );
}

.pattern-bg--footer:before {
    background-image: linear-gradient(
        to bottom,
        RGB($background-rgb) 10%,
        rgba($background-rgb, .5) 80%,
        rgba($background-rgb, .0) 95%,
        rgba($background-rgb, .0) 100%
    );
}
