////
// Components: Social Media
////

// Social media brand
$social-brand-map: (
    behance: #0057FF,
    bitbucket: #0057D8,
    codepen: #111111,
    dribbble: #DF3E7B,
    facebook: #29487D,
    github: #24292E,
    instagram: #3897F0,
    linkedin: #0073B1,
    medium: #029E74,
    npm: #C12127,
    stackoverflow: #F48024,
    twitter: #1DA1F2
);

// Social media base styles
.social-media {
    text-align: left;

    &__link {
        @include size(28px);
        border-radius: 100%;
        display: inline-block;
        margin-right: 8px;
        position: relative;

        svg {
            @include size(16px);
            fill: #FFF;
            left: 50%;
            margin-left: -8px;
            margin-top: -8px;
            position: absolute;
            top: 50%;
        }
    } // .social-media__link
} // .social-media

// Iterate over added social media accounts
@each $account in $social-media {
    .#{$account} {
        background-color: map-get($social-brand-map, $account);

        &:hover {
            background-color: darken(map-get($social-brand-map, $account), 10%);
        }
    } // .brand-account
} // @each