////
// Components: Gist
////

// Base Gist
.gist {
    border: 1px solid $background-accent;
    border-radius: 5px;
    margin-bottom: 16px;

    &__link {
        display: block;
        padding: 16px;
    }

    &__description {
        display: block;
        margin-bottom: 6px;
    }

    &__date {
        color: $text-secondary;
    }
}; // .gist