////
// Components: Social Media
////

// Social media base styles
.social-media {
    text-align: left;

    &__link {
        @include size(28px);
        border-radius: 100%;
        display: inline-block;
        margin-right: 8px;
        position: relative;
        transition: all 75ms linear;

        a {
            @include size(28px);
            display: inline-block;
        }

        svg {
            @include size(16px);
            fill: $white;
            left: 50%;
            margin-left: -8px;
            margin-top: -8px;
            position: absolute;
            top: 50%;
        }
    } // .social-media__link
} // .social-media
