////
// Components: Project
////

.project {
    background-color: $background;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .1);
    flex-grow: 1;
    flex: 1;
    margin-bottom: 16px;
    margin: 0 8px 16px;
    position: relative;
    transition: all 50ms ease-in;

    @media #{$tablet-up} {
        flex-basis: calc(50% - 16px);
    }

    @media #{$desktop-up} {
        flex-basis: calc(50% - 16px);
        flex-grow: 0;
    }

    @media #{$xdesktop-up} {
        flex-basis: calc(33.33% - 16px);
    }

    &.is-faded {
        @media #{$tablet-up} {
            opacity: 0.7;
        }
    } // .project.is-faded

    &:hover {
        box-shadow: 0 0 0 0;
    }

    &__link {
        display: block;
        padding: 16px 16px 48px;
        width: 100%;
    }

    &__name {
        display: block;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 6px;
    }

    &__description {
        display: block;
        color: $text-primary;
    }

    &__footer {
        bottom: 12px;
        left: 0;
        padding: 0 16px;
        position: absolute;
        width: 100%;
    }

    &__language {
        float: left;
        position: relative;
    }

    &__language-color {
        @include size(12px);
        border-radius: 100%;
        display: inline-block;
        margin-right: 4px;
    }

    &__language-name {
        color: $text-secondary;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: .75px;
        position: relative;
        top: -1px;
    }

    &__star {
        float: right;
    }

    &__star-count {
        color: $text-secondary;
        display: inline-block;
        font-size: 13px;
        font-weight: 400;
    }

    &__star-icon {
        @include size(12px);
        display: inline-block;

        svg {
            fill: $text-secondary;
        }
    } // .project__star-icon
} // .project