////
// Components: Patterns
////

.hero-pattern {
    background-image: hero-pattern(#{$pattern-name}, #{$pattern-fill}, #{$pattern-opacity});
    background-size: #{$pattern-size} #{$pattern-size};
    background-repeat: repeat;
}