////
// Elements: Base
////

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font: 300 14px/1.4 #{$font-primary};
    background-color: $background;
}

// Layout
.container {
    margin: 0 30px;

    @media #{$tablet-up} {
        max-width: 710px;
        margin: 0 auto;
    }

    @media #{$xdesktop-up} {
        max-width: 1012px;
    }
} // .container

.container--stats {
    margin: 0;

    @media #{$tablet-up} {
        max-width: 710px;
        margin: 0 auto;
    }

    @media #{$xdesktop-up} {
        max-width: 1012px;
    }
} // .container--stats

.container--projects {
    @media #{$xdesktop-up} {
        max-width: 1140px;
    }
} // .container--projects

.container--flex {
    display: flex;
    flex-direction: column;

    @media #{$tablet-up} {
        flex-direction: row;
    }
} // .container--flex

// Anchors
a {
    color: $text-link;
    text-decoration: none;
    transition: all 75ms linear;

    &:visited {
        color: $text-link;
    }

    &:focus,
    &:hover {
        color: darken($text-link, 10%);
    }

    &:focus {
        outline: $primary thin dotted;
    }
} // a

// Fonts
.f-semi {
    font-weight: 600;
}