////
// Elements: Base
////

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font: 300 14px/1.4 #{$font-primary};
}

// Layout
.container {
    margin: 0 30px;

    @media #{$tablet-up} {
        max-width: 710px;
        margin: 0 auto;
    }

    @media #{$xdesktop-up} {
        max-width: 1012px;
    }
} // .container

.container--stats {
    margin: 0;

    @media #{$tablet-up} {
        max-width: 710px;
        margin: 0 auto;
    }

    @media #{$xdesktop-up} {
        max-width: 1012px;
    }
} // .container--stats

.container--projects {
    @media #{$xdesktop-up} {
        max-width: 1140px;
    }
} // .container--projects

// Anchors
a {
    color: $text-link;
    text-decoration: none;
    transition: all 75ms linear;

    &:visited {
        color: $text-link;
    }

    &:hover {
        color: darken($text-link, 10%);
    }
} // a

// Fonts
.f-light {
    font-weight: 300;
}

.f-medium {
    font-weight: 500;
}

.f-semi {
    font-weight: 600;
}