////
// Elements: Base
////

// Layout
.container {
    margin: 0 30px;

    @media #{$tablet-up} {
        max-width: 710px;
        margin: 0 auto;
    }

    @media #{$xdesktop-up} {
        max-width: 1012px;
    }
} // .container

// Anchors
a {
    text-decoration: none;

    &:hover {
        color: darken($text-secondary, 10%);
    }
}