////
// Objects: Projects
////

// Projects
.projects {
    background-image: linear-gradient(45deg, $primary, $secondary);
    box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, .3);
    color: $white;
    padding: 32px 0 16px;

    &__header {
        display: block;
        font-size: 18px;
        letter-spacing: .75px;
        margin-bottom: 16px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;

        @media #{$tablet-up} {
            flex-direction: row;
        }
    } // .projects__list

    .filter {
        margin-bottom: 26px;
    }
} // .projects