////
// Objects: Header
////

.header {
    background-color: $background-light;
    border: 1px solid transparent;
    border-color: $background-accent-light;
    border-radius: 0 0 5px 5px;
    border-top: 0;
    display: flex;
    flex-direction: column;
    padding: 16px;
    position: relative;
    z-index: 2;

    @media #{$tablet-up} {
        flex-direction: row;
    }

    &__username {
        flex: 1;
        font: 600 14px/1.2 $font-primary;
    }

    &__nav-toggle {
        height: 16px;
        position: absolute;
        right: 16px;
        text-align: center;
        top: 16px;
        width: 22px;

        @media #{$tablet-up} {
            display: none;
        }

        svg {
            fill: $text-secondary;
            height: 16px;
        }

        .close {
            display: none;
        }

        .open {
            display: inline-block;
        }

        &.is-active {
            .close {
                display: inline-block;
            }
            .open {
                display: none;
            }
        } // .header__nav-toggle.is-active
    } // .header__nav-toggle

    .nav {
        flex: 1;
    }

    .is-dark & {
        background-color: $background-dark;
        border-color: $background-accent-dark;
    }

    &.is-active {
        padding-bottom: 10px;

        @media #{$tablet-up} {
            padding-bottom: 16px;
        }
    } // .header.nav-is-active
} // .header

.hero {
    background-repeat: repeat;
    position: relative;

    &:before {
        background-image: linear-gradient(to top, $background-light, rgba($background-light,.5));
        bottom: 0;
        content: '';
        height: 30px;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
} // .hero