////
// Settings: Layout
////

// Media Queries
$tablet-up:     'only screen and (min-width: 720px)';
$desktop-up:    'only screen and (min-width: 800px)';
$xdesktop-up:   'only screen and (min-width: 1024px)';