////
// Settings: Base
////

// Colors
// ====================
$white:                     #FFFFFF;
$black:                     #000000;
$primary:                   var(--primary);
$secondary:                 var(--secondary);

// Text
$text-primary:              var(--text-primary);
$text-secondary:            #A5A5A5 !default;
$text-link:                 #64B7FF !default;

// Background
$background:                var(--bg);
$background-rgb:            var(--bg-rgb);
$background-accent:         var(--bg-accent);
$background-accent-light:   var(--bg-accent-light);


// Typography
// ====================
$font-primary: 'Montserrat', 'Helvetica', sans-serif;


// Media Queries
// ====================
$tablet-up:     'only screen and (min-width: 720px)';
$desktop-up:    'only screen and (min-width: 800px)';
$xdesktop-up:   'only screen and (min-width: 1024px)';