////
// Settings: Colors
////

// Colors
$white:                     #FFFFFF;

// Shared Theme
$text-secondary:            #A5A5A5;
$text-link:                 #64B7FF;

// Dark Theme
$background-dark:           #1A1A1A;
$background-accent-dark:    #3B3B3B;
$text-primary-dark:         #EEEEEE;

// Light Theme
$background-light:          #FEFEFE;
$background-accent-light:   #EFEFF4;
$text-primary-light:        #000F3E;