////
// Settings: Colors
////

// Colors
$white:                     #FFFFFF;

// Text
$text-primary:              #000F3E !default;
$text-secondary:            #A5A5A5 !default;
$text-link:                 #64B7FF !default;

// Background
$background:                #FEFEFE !default;
$background-accent:         #EFEFF4 !default;

// Background
@if ($type == 'dark') {
    $text-primary:          #EEEEEE;
    $background:            #1A1A1A;
    $background-accent:     #3B3B3B;
}