////
// Settings: Layout
////

// Container Width
$container-width: 710px;

// Media Queries
$tablet-up:     'only screen and (min-width: 720px)';
$desktop-up:    'only screen and (min-width: 800px)';