<%#
    Footer Partial
    Theme: HubbleJS Default
    @param {Object} date, user
%>
<footer class="footer pattern-bg pattern-bg--footer">
    <div class="container">
        <div class="footer__wrap">
            <p>
                &copy; <%= date %> <%= user.name %>.
                <a
                    href="https://github.com/Polyneue/hubblejs"
                    rel="nofollow noopener noreferrer"
                    class="f-semi"
                    target="_blank"
                >
                    Powered by HubbleJS
                </a>
            </p>
        </div>
    </div>
</footer>