<%#
    Gists Partial
    Theme: HubbleJS Default
    @param { Array } gists, contributions
%>
<section class="gists-contributions">
    <div class="container container--flex">
        <% if (gists && gists.length) { %>
            <div class="gists">
                <header>
                    <h2 class="gists__header f-semi">Recent Gists</h2>
                </header>

                <ul class="gists__list">
                    <% gists.forEach(function (gist) { %>
                        <%- include('../components/gist', { gist, user }); %>
                    <% }); %>
                </ul>
            </div>
        <% } %>

        <% if (contributions && contributions.length) { %>
            <div class="contributions">
                <header>
                    <h2 class="contributions__header f-semi">Contributions</h2>
                </header>

                <ul class="contributions__list">
                    <% contributions.forEach(function (contribution) { %>
                        <%- include('../components/contribution', { contribution, user }); %>
                    <% }); %>
                </ul>
            </div>
        <% } %>
    </div>
</section>