<%#
    Contribution Partial
    Theme: Hubble JS Default
    Render Contribution Card
    @param { Object } contribution data
%>
<li class="contribution" style="border-left: 5px solid <%= contribution.primaryLanguage.color %>">
    <a href="<%= contribution.url %>" class="contribution__label f-semi" target="_blank">
        <%= contribution.name %>
    </a>
</li>