<%#
    Filter Partial
    Theme: Hubble JS Default
    Render Filter
    @param { Array } languages
%>
<div class="filter">
    <p class="filter__label">Filter:</p>

    <ul class="filter__list">
        <li class="filter__link js-filter-toggle is-active" data-language="all">All Projects</li>

        <% languages.forEach(function (language) { %>
            <li class="filter__link js-filter-toggle" data-language="<%= language %>">
                <%= language %>
            </li>
        <% }); %>
    </ul>
</div>