<%#
    Social Partial
    Theme: Hubble JS Default
    Render Social Media Links
    @param { Object } social media { name:url }
%>
<div class="social-media">
    <% Object.keys(social).forEach(function (key) { %>
        <a
            href="<%= social[key] %>"
            class="social-media__link <%= key %>"
            title="<%= key %>"
            target="_blank"
        >
            <%- include(`../icons/${key}.svg`); %>
        </a>
    <% }); %>
</div>