/**
 * Output width and height in one line
 * @param {String} $width
 * @param {String} $height
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:after,
*:before {
  box-sizing: border-box; }

body {
  font: 400 14px/1.4 "Montserrat", "Helvetica", sans-serif; }

.container {
  margin: 0 30px; }
  @media only screen and (min-width: 720px) {
    .container {
      max-width: 710px;
      margin: 0 auto; } }
  @media only screen and (min-width: 1024px) {
    .container {
      max-width: 1012px; } }

a {
  text-decoration: none;
  color: #64B7FF; }
  a:visited {
    color: #64B7FF; }
  a:hover {
    color: #319fff; }

.f-light {
  font-weight: 300; }

.f-semi {
  font-weight: 600; }

.header {
  background-color: #FEFEFE;
  border: 1px solid transparent;
  border-color: #EFEFF4;
  border-radius: 0 0 5px 5px;
  border-top: 0;
  display: flex;
  flex-direction: column;
  padding: 16px;
  position: relative;
  z-index: 2; }
  @media only screen and (min-width: 720px) {
    .header {
      flex-direction: row; } }
  .header__username {
    flex: 1;
    font-weight: 600; }
  .header__nav-toggle {
    height: 16px;
    position: absolute;
    right: 16px;
    text-align: center;
    top: 16px;
    width: 22px; }
    @media only screen and (min-width: 720px) {
      .header__nav-toggle {
        display: none; } }
    .header__nav-toggle svg {
      fill: #A5A5A5;
      height: 16px; }
    .header__nav-toggle .close {
      display: none; }
    .header__nav-toggle .open {
      display: inline-block; }
    .header__nav-toggle.is-active .close {
      display: inline-block; }
    .header__nav-toggle.is-active .open {
      display: none; }
  .header .nav {
    flex: 1; }
  .is-dark .header {
    background-color: #1A1A1A;
    border-color: #3B3B3B; }
  .header.is-active {
    padding-bottom: 10px; }
    @media only screen and (min-width: 720px) {
      .header.is-active {
        padding-bottom: 16px; } }

.hero {
  background-repeat: repeat;
  position: relative; }
  .hero:before {
    background-image: linear-gradient(to top, #FEFEFE, rgba(254, 254, 254, 0.5));
    bottom: 0;
    content: '';
    height: 70%;
    position: absolute;
    width: 100%;
    z-index: 1; }

.about {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  position: relative;
  z-index: 2;
  padding-bottom: 16px; }
  @media only screen and (min-width: 720px) {
    .about {
      flex-direction: row;
      margin-top: 32px; } }
  .about__avatar {
    border: 4px solid #FEFEFE;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    flex: 1;
    margin-bottom: 16px;
    width: 128px; }
    .about__avatar img {
      display: block;
      max-width: 100%; }
    @media only screen and (min-width: 720px) {
      .about__avatar {
        height: 158px;
        width: 158px;
        max-width: 158px; } }
    @media only screen and (min-width: 1024px) {
      .about__avatar {
        height: 200px;
        width: 200px;
        max-width: 200px; } }
  .about__bio {
    flex: 1; }
    @media only screen and (min-width: 720px) {
      .about__bio {
        margin-left: 32px; } }
  .about__name {
    font-size: 24px;
    margin-bottom: 8px; }
    @media only screen and (min-width: 720px) {
      .about__name {
        font-size: 32px; } }
  .about__title {
    margin-bottom: 8px; }
    @media only screen and (min-width: 720px) {
      .about__title {
        font-size: 16px; } }
  .about__url {
    margin-bottom: 8px; }
  .about .social-media {
    margin-bottom: 8px; }

.nav {
  display: none;
  height: 0;
  overflow: hidden;
  text-align: center; }
  @media only screen and (min-width: 720px) {
    .nav {
      display: block;
      height: auto;
      text-align: right; } }
  .nav__link {
    border-bottom: 1px solid;
    border-color: #EFEFF4 !important;
    color: #A5A5A5;
    font-weight: 600;
    display: block;
    padding: 10px 0; }
    @media only screen and (min-width: 720px) {
      .nav__link {
        border: 0;
        display: inline-block;
        margin-right: 16px;
        padding: 0; } }
    .nav__link:hover {
      color: #8c8c8c; }
    .nav__link:first-child {
      border-top: 1px solid; }
      @media only screen and (min-width: 720px) {
        .nav__link:first-child {
          border: 0; } }
    .nav__link:last-child {
      border-bottom: 0;
      padding-bottom: 0; }
      @media only screen and (min-width: 720px) {
        .nav__link:last-child {
          margin-right: 0; } }
    .is-dark .nav__link {
      border-color: #3B3B3B !important; }
  .is-active .nav {
    height: auto;
    margin-top: 16px;
    display: block; }
    @media only screen and (min-width: 720px) {
      .is-active .nav {
        margin-top: 0; } }

.social-media {
  text-align: left; }
  .social-media__link {
    height: 28px;
    width: 28px;
    border-radius: 100%;
    display: inline-block;
    margin-right: 8px;
    position: relative; }
    .social-media__link svg {
      height: 16px;
      width: 16px;
      left: 50%;
      margin-left: -8px;
      margin-top: -8px;
      position: absolute;
      top: 50%;
      fill: #FFF; }
