<%#
    Meta Partial
    Theme: HubbleJS Default
    @param { Object } meta data
%>

<%# Standard Meta %>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<%# Description %>
<meta name="description" content="<%= meta.description %>">

<%# Title %>
<title><%= meta.title %></title>

<%# Favicon %>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">

<%# Global site tag (gtag.js) - Google Analytics  %>
<% if (meta.ga && meta.ga.trim() !== '') { %>
<script async src="https://www.googletagmanager.com/gtag/js?id=<%= meta.ga %>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', <%= meta.ga %>);
</script>
<% } %>


<%# Font %>
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,600" rel="stylesheet">