<%#
    Meta Partial
    Theme: Hubble JS Default
    Render Head Information
    @param { Object } meta data
%>

<%# Standard Meta %>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<%# Description %>
<meta name="description" content="<%= meta.description %>">

<%# Title %>
<title><%= meta.title %></title>

<%# Favicon %>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">

<%# Font %>
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,600" rel="stylesheet">